<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <% form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, placeholder:"First Name",class:'form-control w-50' %>
  </div>

  <div class="my-3">
    <% form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, placeholder:"Last Name",class:'form-control w-50' %>
  </div>

  <div class="my-3">
    <% form.label :email, style: "display: block" %>
    <%= form.text_field :email, placeholder:"Email Address",class:'form-control w-50' %>
  </div>

  <div class="my-3">
    <% form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, placeholder:"Phone Number",class:'form-control w-50' %>
  </div>

  <div class="my-3">
    <% form.label :twitter, style: "display: block" %>
    <%= form.text_field :twitter, placeholder:"twitter Handle",class:'form-control w-50' %>
  </div>
  <div class="my-3">
    <% form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id, id: :friend_user_id, value: current_user.id , class:'form-control w-50', type: :hidden %>
  </div>
  
  <div class="my-3">
    <%= form.submit class: 'btn b btn-secondary gap-3' %>
  </div>
<% end %>


